.benefits {
  margin-bottom: -94px;
}

.benefits-head {
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: 270px;
}

.benefits-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: var(--button-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-headline {
  visibility: hidden;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
